:root {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: linear-gradient(to bottom, #659782 30%, #65978295 85%, #659782 100%);
}

header {
    display: inline-block;
    height: 40px;
    margin: 5%;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    width: 90%;
}

.banner {
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

section {}

img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    margin: 5px;
    display: inline;
    flex-direction: row;
}

h1 {
    font-family: 'Courier', serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropdown-container {
    display: flex;
    flex-direction: row;
}

#future-dropdown {
    grid-area: "left";
    left: 20px;
}

#modern-dropdown {
    grid-area: "middle";
}

#historic-drop {
    grid-area: "right";
}

#images-section {
    display: grid;
    grid-template-areas: "left middle right";
    justify-content: space-around;
}

#future {
    grid-area: "left";
}

#modern {
    grid-area: "middle";
}

#historic {
    grid-area: "right";
}

#user-input {
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: 1fr 1fr 2fr;
    padding-left: 50px;
}

#slogan {
    grid-area: left;
    padding-left: 20%;
}

#times-changed {
    grid-area: middle;
    padding-left: 50%;
}

#city {
    grid-area: right;
        padding-left: 50%;
}